
<h4>sOY EL CREAR cliente</h4>

<!-- <div class="container">
    <h2>{{titulo}}</h2>
    <div class="message success" *ngIf="status=='success'">
        EL cliente se ha guardado correctamente, puedes verlo <a [routerLink]="['/cliente' ,clienteGuardar._id]">aquí</a>
    </div>
    <div class="message failed" *ngIf="status=='failed'">
        El cliente no se ha podido guardar.
    </div>
    <form #clienteForm="ngForm" (ngSubmit)="guardarcliente(clienteForm)">
        <p>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="cliente.nombre" required>
            <span *ngIf="nombre.touched && !nombre.valid">
                Nombre obligatorio
            </span>
        </p>
        <p>
            <label for="autor">Apellido</label>
            <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="cliente.apellido" required>
            <span *ngIf="apellido.touched && !apellido.valid">
                Apellido obligatorio
            </span>
        </p>
        <p>
            <label for="cedula">Cedula</label>
            <input type="text" name="cedula" #cedula="ngModel" [(ngModel)]="cliente.cedula" required>
            <span *ngIf="cedula.touched && !cedula.valid">
                Cedula obligatoria
            </span>
        </p>

        <p>
            <label for="correo">Correo</label>
            <input type="text" name="correo" #correo="ngModel" [(ngModel)]="cliente.correo" required>
            <span *ngIf="correo.touched && !correo.valid">
                Correo obligatoria
            </span>
        </p>
       
        
        <input type="submit" value="Guardar" [disabled]="!clienteForm.form.valid">
    </form>
</div> --> 
