<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <br>
            <h1>¡Crea una cuenta!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form #cuentaForm="ngForm" >
                <h3>¿Cómo se va a llamar tu cuenta?</h3> 
                <br>
                <input style="width: 300px;" type="text" name="nombre" #ngNickname="ngModel" [(ngModel)]="this.nickname
                " required class="form-control form-control-user" placeholder="Nickname de tu cuenta">
                    <span *ngIf="ngNickname.touched && !ngNickname.valid">
                        <h6 style="color: red;">*El nombre no es válido</h6>
                    </span>
                <br>
                <br><br>
                <button class="btn btn-primary btn-sucess btn-block" value="Continuar" type="submit" [disabled]="!cuentaForm.valid" (click)="crearCuenta()">Crear Cuenta</button>
            </form>
        </div>
        <div class="col-lg-6" style="text-align: center;">
            <br><br><br><br>
            <h1 style="color: white;">Horizon-Bank: Tu banco sin fronteras</h1>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>
