<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizon Bank: Home</title>
    <link href="../static/client/src/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<!--Inicio carrucel-->
<body>

    <!-- otro contenedor -->
    <div class="col-md-1 mb-3">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center">Horizon Bank: Usuario</h5>
            </div>
            <div class="card-body">
                <form action="/sesion" method="GET">
                    <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>

    <div id="carrusel-contenido">
        <div id="carrusel-caja">
            <div class="carrusel-elemento">
                <img class="imagenes" src="../static/assets/img/imagen1.png" >
            </div>
            <div class="carrusel-elemento">   
                <img class="imagenes" src="../static/assets/img/imagen2.png">
            </div>
           
        </div>
    </div>
</body>
<!--Fin carrucel-->



<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <h3>"Horizon Bank - Tu banca sin fronteras"</h3> 
    <p>Horizon-Bank es una herramienta sofisticada que ayuda a los clientes a alcanzar sus metas financieras mediante tecnología de vanguardia. El concepto "sin fronteras" sugiere una perspectiva de
         crecimiento y éxito continuo, con servicios en línea confiables y seguros.</p>
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
 <!-- Inicio Tarjetas-->
                    <h4>Todo lo que esperas de un Banco. Sin ir a uno.</h4>
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Avances en Linea</h2>

                    <p class="card-text">
                       
                    </p>
                    <img src="../static/assets/img/adelantos.png" class="img-fluid rounded mb-4 mb-lg-0">

                </div>
                <div class="card-footer">
                    <h5>¿Necesitas dinero hoy?</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Acerca de pagos y servicios</h2>
                    <p class="card-text"></p>
                    <img src="../static/assets/img/pagos.png" class="img-fluid rounded mb-4 mb-lg-0">

                </div>
                <div class="card-footer">
                    <h5>Paga tus servicios desde la comodidad de tu hogar</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Bloqueo de tarejtas</h2>
                    <p class="card-text"></p>
                    <img src="../static/assets/img/bloqueo.png" class="img-fluid rounded mb-4 mb-lg-0">

                </div>
                <div class="card-footer">
                    <h5>Bloquea temporalmente</h5>
                </div>
            </div>
        </div>

    </div>
</div>

     <!--Fin Tarjetas-->

    


   
   
   
</html>